* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.menu-container {
    background-color: #36AF5C;
    display: inline-block;
    height: 100vh;
    padding: 15px;
}

#logo-banese {
    width: 62%;
}

#simbolo-menu {
    width: 12%;
    height: 12%;
}

.cabecalho-menu {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.opcoes-menu {
    margin-top: 8.25rem;
    font-size: 1rem;
}

.conteudo-menu {
    list-style: none;
}

.item a {
    color: white;
    text-decoration: none;
}

.item {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.item img {
    width: 9.5%;
}

.conta-user {
    display: flex;
    align-items: center;
    gap: 9px;
    position: fixed;
    bottom: 2vh;
    color: white;
}

.conta-user img {
    width: 17%;
}

.conta-user span {
    font-size: 14px;
}

.container {
    display: flex;
}

.item a:hover {
    opacity: 0.7;
    transition: all 55ms;
    scale: 0.9;
}

html {
    overflow: hidden;
}

.informacoes-campanha {
    padding: 5vh 15vh;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.usuario-list {
    list-style: none;
    background-color: rgb(202, 202, 202);
    padding: 1vh 2vh;
    border-radius: 15px;
    margin-top: 14px;
    text-align: justify;
}

.listas {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 4vh;
}

.list {
    background-color: #D9D9D9;
    border: 1px solid black;
    border-radius: 10px;
    height: 65vh;
    max-height: 65vh;
    padding: 12px 25px;
    overflow: auto;
    text-align: center;
    width: 60vh;
    max-width: 60vh;
}

#botao-proximo {
    padding: 5px 27px;
    background-color: #00B766;
    border-radius: 20px;
    border-style: solid;
    border-color: #00B766;
    margin-top: -25vh;
}

#botao-proximo:hover {
    opacity: 0.7;
}

#botao-add {
    margin-top: 1vh;
}

.btn {
    padding: 5px 27px;
    background-color: #00B766;
    border-radius: 20px;
    border-style: solid;
    border-color: #00B766;
}

.btn:hover {
    transition: all 55ms;
    scale: 0.9;
}

.input-cadastro {
    z-index: 900;
    background-color: #06db7b;
    display: none;
    padding: 2vh 4vh;
    border-radius: 1vh;
    margin-top: -67vh;
    height: 50vh;
    max-height: 50vh;
}

#botao-input-white, #fechar-input, #botao-input-black {
    background-color: #058a05;
    color: white;
    font-weight: 500;
}

#botao-input-white, #botao-input-black {
    display: none;
}

.botoes-input {
    display: flex;
    justify-content: center;
    gap: 2.5vh;
}

.mecanica {
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.input-cadastro span {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1vh;
}

select {
    display: block;
    outline: none;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    height: 4vh;
    max-height: 4vh;
    margin-top: 0.5vh;
    width: 40vh;
    padding: 0 1vh;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 400;
}

input {
    outline: none;
}

.input-cadastro h3 {
    background-color: #058a05;
    border-radius: 10px;
    margin-bottom: 2vh;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: 600;
}

textarea {
    margin-top: 2vh;
    display: block;
    resize: none;
    margin-bottom: 2vh;
    width: 40vh;
    max-width: 40vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: auto;
    height: 10vh;
    max-height: 10vh;
    align-items: center;
    padding: 0.5vh 1vh;
    outline: none;
}

textarea::placeholder {
    color: black;
}

.warn-cancelamento {
    text-align: center;
    z-index: 999;
    margin-top: -52vh;
    display: none;
}

.warn {
    background-color: rgb(108, 219, 108);
    display: inline-block;
    padding: 4vh 6vh;
    border: 2px outset black;
    border-radius: 5px;
}

.warn-cancelamento button {
    background-color: #1ca21c;
    margin-top: 2vh;
    font-weight: 500;
}

.aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    gap: 0.8vh;
    text-shadow: 1px 1px 1px;
    color: red;
}